.Heading {
    font-size: 48px !important;
    color: rgba(255, 255, 255, 1) !important;
}

.HeaderBox {
    margin-top: 50px !important;
}

.HeadingBox {
    text-align: center !important;
}

.BoxForImageCircle {
    margin-top: 200px !important;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 50%;
    margin: auto;
}

.BoxforFrame {

    position: absolute !important;
    left: 20%;
    top: 25%;

}

.BoxforFrame img {
    width: 75% !important;
}

.BoxForText {
    margin-top: 250px !important;
    position: relative;
}

.TextBox h3 {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    color: #fff !important;
}
.GridTextBox{
    display: flex;
    justify-content: end;
    align-items: center;
}

.EachCard{
    margin-top: 250px !important;
}


.VectorImg{
    position: absolute !important;
    z-index: -18 !important;
}


.BoxForImgFilter {
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        linear-gradient(0deg, #FFFFFF, #FFFFFF); */

}

.NormalCard{
    transform: unset !important
}

.RotateCard{
    transition: transform 1.5s ease;   
}

.RotateCard:hover{
    transition: transform 1.5s ease;
    transform: rotate(-35deg);
}

.BoxForTeam{
    margin-top: 200px !important;
}

.BoxForMission{
    position: relative;
}

.BoxForMisionCard{
    position: absolute;
    transition: transform 1.5s ease;
    top: 50%;
    right: 35px;
}


.Card1Mission{
    transition: transform 1.5s ease;
}

.Card1Mission:hover {
    transform: rotate(-15deg);
}

.BoxForMisionCard:hover{
    transition: transform 1.5s ease;
    transform: rotate(-35deg);
}

@media screen and (max-width: 600px) {
    .HeaderBox{
        display: none !important;
    }
}

