* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #080810 !important;
}

.fancy-carousel-navigation-button {
  background: rgba(237, 237, 237, 0.1) !important;

}

.fancy-carousel-image{
  border-radius: unset !important;
  border-radius: 12px !important;
}

.fancy-carousel-border{
  background-image: unset !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  width: 1000px ;
}
.fancy-carousel-navigators{
  position: absolute;
  top: 0;
  margin-left: unset !important;
}

.fancy-carousel-navigation-button{
  background: rgba(237, 237, 237, 0.1);
}




.central-img{
  display: none !important;
}
.fancy-carousel-element{
  box-shadow: unset !important;
}

