.Logo p{
    font-size: 28px !important;
    font-family: Inter !important;
    font-weight: 400 !important;
    line-height: 34px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #fff !important;
}

.HeaderBox{
    margin-top: 30px !important;
}

.ListHeader{
    width: 55% !important;
}
.ListGrid{
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
}
.List{
    color: #fff !important;
    text-decoration: none  !important;
    list-style: none !important;
    display: flex !important;
    justify-content: space-between !important;
}

.celeb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media screen and (max-width: 600px) {
    .ListHeader{
        width: unset !important;
    }
  }