.GradientCircle {
    background: linear-gradient(132.67deg, rgba(241, 102, 51, 0.8) -5.44%, rgba(253, 45, 125, 0.8) 101.81%);
    width: 388px;
    height: 388px;
    border-radius: 50%;
    position: relative !important;
}

.BoxForSectionFirst{
    margin-top: 120px !important;
}

.LightCircle {
    background: linear-gradient(132.67deg, rgba(241, 102, 51, 0.8) -5.44%, rgba(253, 45, 125, 0.8) 101.81%);
    width: 388px;
    height: 388px;
    border-radius: 50%;
    position: absolute;
    bottom: -105%;
}

.LightCircleAnimate {
    transform: translateY(-900px);
    background: linear-gradient(132.67deg, rgba(241, 102, 51, 0.8) -5.44%, rgba(253, 45, 125, 0.8) 101.81%);
    width: 388px;
    height: 388px;
    border-radius: 50%;
    position: absolute;
    bottom: -105%;
    transition: transform 4s ease;

}

.ImageCircle {
    position: absolute;
    width: 374px;
    height: 374px;
    border-radius: 50%;
    overflow: hidden;
    top: 4px;
    left: 5px;
}

.ImageCircle img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
}

.ParentCircleBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ArrowBox img {
    position: absolute !important;
    right: -8% !important;
    transform: rotate(-7deg);
    width: 32%;
    bottom: 10px;
}



.clickBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
    margin-top: 20px;

}

.clickBtn p {
    color: #FFFFFF;
    cursor: pointer;
}

.DesignationText {
    position: absolute !important;
    top: 50%;
    left: -54% !important;
}

.DesignationText p {
    font-weight: 400;
    letter-spacing: 0em;
    color: #fff !important;
    text-align: center;
    font-size: 80px !important;
    line-height: 30px !important;

}

.RightText{
    justify-content: center !important;
    display: flex !important;
}

.RightText h3 {
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    width: 53%;
    color: rgba(255, 255, 255, 1);
}

.Graytext{
    color: rgba(255, 255, 255, 0.5) ;
}

.BoxGrid{
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;   
}

.ExplorePng{
    width: 95% !important;
}
.BoxForCeleb{
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center;
}

.BoxForCeleb img{
    width: 90% !important;
}

.BoxForCelebMainContainer{
    margin-top: 150px !important;
}

.GridCeleb{
    display: flex !important;
    justify-content: flex-end !important;
}


@media screen and (max-width: 600px) {
    .DesignationText{
        left: unset !important;
    }
    .RightText h3{
        width: unset !important;
    }
    .BoxForCelebMainContainer{
        margin-top: unset !important;
    }
    .VectorImg{
        display: none !important;
    }
  }